<!DOCTYPE html>
<html>
    <head>
        <title>Pinnochio’s Pizza and Subs</title>


    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>    
   
    </head>
    <body >
        
        <div id = 'topbar'>
            <div id='pinochio' class="row">
               <div class="col-lg-4">
                <!--img src="{% static 'image/pizza.jpg' %}" class= 'top_bar' id='pino' style="align-items: left;"-->
            </div>
            <div class="col-lg-4">
                <h1 class ='banner'> Pinnochio’s Pizzas<br> & <br>
                    Subs
                </h1>
            </div>
                <div class="col-lg-4">
                <img src="{% static 'image/pinochio.gif' %}" class= 'top_bar' id='pizza'style="align-items: right;">
                
            </div>
            </div>


        </div>
     
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div id='category' class="list-group text-center">
            {% if user.username %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav justify-content-center">

            
           

            {% if user.is_superuser%}
            <li class="nav-item active">
                <a href="{% url 'orders_manager' %}"  class="nav-link">Oder Management </a>
                </li>
            {% else %}
            <li class="nav-item active">
                <a href="{% url 'my_orders' %}"  class="nav-link">My Oders </a>
                </li>
                {% endif %}
            <li class="nav-item active">
                <a href="{% url 'shoppingCart' %}"  class="nav-link">Shopping Cart({{cart_count}})</a>
                </li>
            <li class="nav-item active">
                    <a href="{% url 'logout' %}"  class="nav-link">Log Out</a>
                    </li>
            </ul>
            </div>
       
            Hello  {{ user.username}}

           
   
            </nav>
            {% endif %}
        </div>
    </div>
  
  
</div>
<div class="row">
<div id='category' class="list-group text-center">
    {% for category in Category %} 
    <a href="{% url 'menu' category  %}" class="list-group-item list-group-item-action">{{category}}</a>
    {% endfor %} 
</div>

        <div id='center_box' class='w-50  mx-auto  '>
            {% block body%}
            {% endblock %}
        </div>
  
        
    </div>

   
    </body>
</html>