{% extends "layout.html" %}
{% block body%}
{% load static %}


<div id='checkout' class='list-group text-right '>
    <div id='category' class="list-group text-center">
        <table id="reorder">
            <tr>
                
                <td><h6 class='text-info mx-auto'>Item</h6></td>
                <td><h6 class='text-info mx-auto'>Toppings</h6></td>
                <td><h6 class='text-info mx-auto'>Price</h6></td>
            </tr>
        {% for item in shoping_item %} 
        <tr>
            
       <td>{{item.Item}}</td>
        <td>{{item.Topping}}</td>
        <td>{{item.Price}}</td> 
       </tr>
        {% endfor %} 
        <tr>
            <td></td>
             <td><h6 class='text-warning mx-auto'>Total</h6></td>
             <td><h6 class='text-danger mx-auto'>{{shoping_total}}</h6></td> 
            </tr>
            <tr>
                <td><a href="{% url 'my_orders' %}"  class="btn btn-danger active" role="button" aria-pressed="true"> Close</a></td>
               <td> <a href="{% url 'Reorder'%}"  class="btn btn-success  active" role="button" aria-pressed="true"> Reorder </a></td>
            </tr>
        </table>
       
       
    </div>
{% endblock %}